@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';

.services{
    @include _979 {
        padding: 40px 0;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;

        @include _979 {
            justify-content: center;
        }
    }

    &__item{
        flex-basis: calc(50% - 20px);
        background: #fff;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include _979 {
            flex-basis: 80%;
            width: 100%;
        }
    }

}


.service {
    position: relative;

    @include _600 {
        flex-wrap: wrap;
    }

    &:hover &__img {
        transform: translate(-50%, -50%) scale(1.2);
        filter: brightness(1);
    }


    &__link-absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
    }

    &__img-wrapp{
        flex-basis: 45%;
        height: 100%;
        position: relative;
        overflow: hidden;


        @include _979 {
            flex-basis: 30%;
        }

        @include _600 {
            flex-basis: 100%;
            height: 250px;
        }
    }

    &__img{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 101%;
        max-width: initial;
        filter: brightness(0.7);

        transition: .5s all;


        @include _979 {
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }

        @include _600 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
        }
    }

    &__info{
        flex-basis: 55%;
        padding: 30px;
        color: #444444;
        font-family: $yanone;

        @include _979 {
            flex-basis: 70%;
        }

        @include _600 {
            flex-basis: 100%;
        }
    }

    &__title{
        font-size: 60px;
        font-weight: 300;
        line-height: .8;
        margin: 0;

        @include _979 {
            font-size: 40px;
        }
    }

    &__descr{
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 80px;

        @include _1170 {
            margin-bottom: 20px;
        }
    }

    &__duration{
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 1.25;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include _979 {
            justify-content: flex-start;
            margin-top: 20px;
        }
    }

    &__price{
        font-size: 40px;
        font-weight: 300;
        line-height: .5;
        // flex-basis: 50%;
        margin: 0;
        text-align: center;

        @include _1170 {
            font-size: 34px;
            margin-right: 20px;
        }

        @include _350 {
            flex-basis: 100%;
            text-align: center;
        }
    }


    &__link{
        display: inline-block;
        color: $dark;
        text-decoration: none;
        border-bottom: 3px solid $beige;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        transition: .3s all;
        cursor: pointer;
        text-align: center;

        &:hover{
            background-color: $beige;
            color: #fff;
        }

        &:after {
            background-color: #fff;
        }

        @include _1170 {
            padding: 10px 20px;
        }

        @include _350 {
            flex-basis: 100%;
            text-align: center;
            margin-top: 20px;
        }


    }


}