-
    var servicesSrc = [
        'images/service_1.jpg',
        'images/service_2.jpg',
        'images/service_3.jpg',
        'images/service_4.jpg',
    ]



//START SERVICE-LIST
section.services.container
    ul.services__list.services-list
        each src in servicesSrc
            li.services__item.service
                a.service__link-absolute(href="/services-detail.html" title="Переход на страницу услуги")
                .service__img-wrapp
                    img.service__img.b-lazy(data-src=src, alt="Массаж для пары")

                .service__info
                    h3.service__title Массаж для пары
                    p.service__descr.
                        Равным образом дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы.
                    p.service__duration.
                        Продолжительность от 1.5 до 2 часов

                    footer.service__footer
                        p.service__price 4000 р.
                        a.service__link(href="/services-detail.html" title="Переход на страницу услуги 'Массаж для пары'") Подробнее
//END SERVICE-LIST