@import '../base/_variables.scss';

//    using example
//
//    div {
//        @include media-desktop {
//            font-size: 20px;
//        }
//    }


@mixin _1919 {
    @media (max-width: #{$_1919}) {
        @content;
    }
}


@mixin _1700 {
    @media (max-width: #{$_1700}) {
        @content;
    }
}

@mixin _1366 {
    @media (max-width: #{$_1366}) {
        @content;
    }
}

@mixin _1170 {
    @media (max-width: #{$_1170}) {
        @content;
    }
}

@mixin _1024 {
    @media (max-width: #{$_1024}) {
        @content;
    }
}

@mixin _979{
    @media (max-width: #{$_979}) {
        @content;
    }
}

@mixin _768{
    @media (max-width: #{$_768}) {
        @content;
    }
}

@mixin _600 {
    @media (max-width: #{$_600}) {
        @content;
    }
}

@mixin _480 {
    @media (max-width: #{$_480}) {
        @content;
    }
}

@mixin _350 {
    @media (max-width: #{$_350}){
        @content;
    }
}























