//START REVIEWS LIST
ul.reviews__list
    li.reviews__item.review
        header.review__header
                div.review__avatar-wrapp
                    img.review__avatar(src="./images/person.jpg", alt="Петр Петров")

                div.review__person-info
                    span.review__name Петр Петров
                    span.review__service Тайский массаж


        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

    li.reviews__item.review
        header.review__header
                div.review__avatar-wrapp
                    img.review__avatar(src="./images/person.jpg", alt="Петр Петров")

                div.review__person-info
                    span.review__name Петр Петров
                    span.review__service Тайский массаж


        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.


    li.reviews__item.review
        header.review__header
                div.review__avatar-wrapp
                    img.review__avatar(src="./images/person.jpg", alt="Петр Петров")

                div.review__person-info
                    span.review__name Петр Петров
                    span.review__service Тайский массаж


        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.



    li.reviews__item.review
        header.review__header
                div.review__avatar-wrapp
                    img.review__avatar(src="./images/person.jpg", alt="Петр Петров")

                div.review__person-info
                    span.review__name Петр Петров
                    span.review__service Тайский массаж


        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

    li.reviews__item.review
        header.review__header
                div.review__avatar-wrapp
                    img.review__avatar(src="./images/person.jpg", alt="Петр Петров")

                div.review__person-info
                    span.review__name Петр Петров
                    span.review__service Тайский массаж


        p.review__text.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
            Равным образом укрепление и развитие структуры требуют определения и уточнения модели развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.


//END REVIEWS LIST