@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';


.reviews {

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
        text-align: left;
    }

    &__item {
        margin-bottom: 10px;
        display: inline-block;
        width: calc(50% - 2%);
        margin: 0 1%;
        margin-top: 20px;

        &:nth-child(1) {margin-top: 0;}
        &:nth-child(2) {margin-top: 0;}

        @include _600 {
            width: calc(100% - 2%);
        }
    }
}


.review {
    background-color: #fff;
    padding: 25px;
    color: $dark;
    background-image: url('./images/icon-quotes.jpg');
    background-repeat: no-repeat;
    background-size: 31px 26px;
    background-position: calc(100% - 25px) 25px;
    border-bottom: 3px solid $beige;

    &__header {

    }
    &__avatar-wrapp{
        width: 75px;
        height: 75px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    &__avatar{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
    &__person-info{
        display: inline-block;
        vertical-align: middle;
    }
    &__name{
        font-family: $oranien;
        display: block;
        font-size: 20px;
    }
    &__service{
        font-family: $yanone;
        font-size: 16px;
    }
    &__text{
        font-family: $yanone;
        font-size: 16px;
        font-weight: 300;
        padding: 10px 0;

        &:last-child{
            padding-bottom: 0;
        }
    }
}