@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';

.services-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    p, ul {
        font: 300 18px/1.45 $yanone;
        margin: 0;
    }

    ul {
        padding-left: 10px;
    }

    li{
        list-style: none;

        &:before {
            content: '';
            width: 5px;
            height: 5px;
            display: inline-block;
            vertical-align: middle;
            background-color: $beige;
            margin-right: 10px;
            border-radius: 50%;
        }
    }

    &__item{
        flex-basis: calc(50% - 40px);

        @include _979 {
            flex-basis: 100%;
        }
    }

    &__pictures {
        text-align: center;
    }

    &__title{
        margin: 25px 0 0;
        color: $beige;
        font-family: $yanone;
        font-size: 70px;
        font-weight: 200;
    }

    &__subtitle{
        font-weight: 200;
    }

    &__descr {
        font: 300 16px/1.25 $yanone;
        margin: 20px 0;
    }

    &__footer{
        margin-top: 70px;
    }

    &__price{
        font-size: 40px;
        font-weight: 300;
        line-height: .5;
        flex-grow: 2;
        flex-basis: 50%;
        margin: 0 40px 0 0;
        color: $beige;
        vertical-align: middle;
    }

    &__link {
        display: inline-block;
        color: $dark;
        text-decoration: none;
        border-bottom: 3px solid $beige;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        transition: .3s all;
        flex-grow: 2;
        cursor: pointer;
        background-color: #fff;

        &:hover{
            background-color: $beige;
            color: #fff;
        }

        &:after {
            background-color: #fff;
        }
    }



    //booking
    &__booking {
        margin-top: 90px;
    }


}