//START SERVICES DETAIL

.services-detail
    .services-detail__pictures.services-detail__item
        img.services-detail__img(src="./images/services-detail.jpg" alt="Классический массаж")

    .servuces-detail__info.services-detail__item
        h2.services-detail__title Классический массаж
        span.services-detail__subtitle Традиции в новом исполнении

        .services-detail__descr.like-p.
            Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.


        p Перечень услуг
        ul
            li Душ
            li Расслабляющая музыка
            li Легкий массаж плеч
            li Душ
            li Расслабляющая музыка
            li Легкий массаж плеч
            li Чашка кофе или чая + 30 минут


        footer.services-detail__footer
            span.services-detail__price 3200 р.
            a.btn.btn-primary.services-detail__link.js-scroll-to-form Забронировать

//END SERVICES DETAIL