//START ABOUT
.about.container
    img.about__img(src="images/about-girls.jpg", alt="Девушки на кровати")
    h2.about__title.
        Здесь все ваши тайные желания становятся реальностью

    .about__content
        h3.about__subtitle.
            Интересный и яркий интерьер позволит вам с комфортом провести время.
        p.about__text.
            Равным образом дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
//END ABOUT