@import './../../base/_variables.scss';

/*-------------------------*\
         #ABOUT
\*-------------------------*/

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    @include _1170 {
        flex-wrap: wrap;
    }


    &__title{
        color: $beige;
        font: 37px/46px $oranien;
        max-width: 400px;
        margin: 0 0 0 50px;

        @include _1170 {
            flex-basis: 100%;
            max-width: 600px;
            width: 100%;
            text-align: center;
            margin: 30px 0;
        }
    }

    &__content{
        position: absolute;
        right: 0;
        top: 30%;

        color: $dark;
        background-color: $beige;
        padding: 35px 50px;
        width: 100%;
        max-width: 570px;
        z-index: 20;

        @include _1170 {
            position: static;
            margin-bottom: 30px;
        }

    }

    &__subtitle{
        font: 400 29px/34px $oranien;
        margin: 0 0 30px;
    }

    &__text{
        font: 16px/24px $yanone;
        margin: 0;
        padding: 0;
    }
}

/* END ABOUT */
