// START NAVIGATION

-
    var nav = [
        {text:'Главная',    link:'index.html'},
        {text:'Вакансии',   link:'jobs.html'},
        {text:'Девушки',    link:'girls.html'},
        {text:'Отзывы',     link:'reviews.html'},
        {text:'Услуги',     link:'services.html'},
        {text:'Контакты',   link:'contact.html'},
    ]


.nav-row
    nav.nav
        div.nav__toggle
            span.nav__title Меню

            div.nav__icon
                span.nav__line
                span.nav__line
                span.nav__line

        ul.nav__list
            each item in nav
                li.nav__item
                    a.nav__link(href=item.link title=item.text)=item.text


// END NAVIGATION