@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';

/*-------------------------*\
        #NAVIGATION
\*-------------------------*/

.nav-row {
    text-align: right;

    @include _1170 {
        padding-right: 15px;
    }
}

.nav {
    cursor: pointer;
    transition: .3s all;

    position: relative;
    position: relative;
    z-index: 50;

    display: inline-block;
    max-width: 200px;
    width: 100%;

    padding: 11px 5px;

    color: $dark;
    text-align: right;
    font-family: $oranien;

    @include _979 {
        position: absolute;
        top: 5px;
        right: 25px;
        max-width: 250px;
    }

    &.is-active {
        border-radius: 2px;
        box-shadow: 2px 3px 5px rgba(28, 31, 36, 0.51);

        background-color: $dark;

        color: $beige;

        .nav__list {
            visibility: visible;
            opacity: 1;

            @include _979 {
                font-size: 27px;
            }
        }

        .nav__line {
            background-color: $beige;
        }

        .nav__line:nth-child(1) {
            transform: translateY(10px) rotate(40deg);
        }
        .nav__line:nth-child(2) {
            visibility: hidden;
            opacity: 0;
        }
        .nav__line:nth-child(3) {
            transform: translateY(-17px) rotate(-40deg);
        }
    }

    &__toggle {
        display: inline-block;
        width: 50px;
    }

    &__icon {
        width: 50px;
        font-size: 13px;

    }


    &__line {
        transition: .5s all;

        display: inline-block;
        width: 100%;
        height: 5px;

        background-color: $dark;
    }


    &__title {
        display: block;

        text-align: center;
        font-size: 18px;
        text-transform: uppercase;

        @include _480 {
            font-size: 16px;
        }

    }

    &__list {
        visibility: hidden;
        opacity: 0;
        transition: .1s all;

        position: absolute;
        top: 100%;
        right: 0;

        width: 100%;

        margin: 0;
        padding: 0 15px 11px;
        padding-left: 0;

        background-color: $dark;

        text-align: right;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.36;

        list-style: none;
    }

    &__item {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-3px);
        transition: .3s all;

        &.is-active {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);

            transition-duration: .3s;
        }
    }

    &__link {
        color: inherit;

        &:after {
            background-color: $beige;
        }

        @include _979 {
           line-height: 1.7;
        }
    }
}


/* END NAVIGATION */


