//START REVIEWS FORM

h2.reviews__subtitle.page__subtitle.title-left-line Оставить отзыв
span.page__title-tip Отзыв появится после проверки модератором



form.reviews__form.reviews-form#form-reviews
    .reviews-form__col
        label.reviews-form__label(for="name")
            .reviews-form__icon-wrap
                svg.reviews-form__icon(width='438.53px', height='438.53px', enable-background='new 0 0 438.529 438.529', version='1.1', viewbox='0 0 438.529 438.529', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                    path(d='m219.26 219.27c30.271 0 56.108-10.71 77.518-32.121 21.412-21.411 32.12-47.248 32.12-77.515 0-30.262-10.708-56.1-32.12-77.516-21.417-21.41-47.255-32.115-77.518-32.115s-56.105 10.705-77.515 32.115c-21.414 21.416-32.121 47.253-32.121 77.516 0 30.267 10.707 56.104 32.121 77.515 21.416 21.411 47.251 32.121 77.515 32.121z')
                    path(d='m419.26 335.04c-0.668-9.609-2.002-19.985-3.997-31.121-1.999-11.136-4.524-21.457-7.57-30.978-3.046-9.514-7.139-18.794-12.278-27.836-5.137-9.041-11.037-16.748-17.703-23.127-6.666-6.377-14.801-11.465-24.406-15.271-9.617-3.805-20.229-5.711-31.84-5.711-1.711 0-5.709 2.046-11.991 6.139-6.276 4.093-13.367 8.662-21.266 13.708-7.898 5.037-18.182 9.609-30.834 13.695-12.658 4.093-25.361 6.14-38.118 6.14-12.752 0-25.456-2.047-38.112-6.14-12.655-4.086-22.936-8.658-30.835-13.695-7.898-5.046-14.987-9.614-21.267-13.708-6.283-4.093-10.278-6.139-11.991-6.139-11.61 0-22.222 1.906-31.833 5.711-9.613 3.806-17.749 8.898-24.412 15.271-6.661 6.379-12.562 14.086-17.699 23.127-5.137 9.042-9.229 18.326-12.275 27.836-3.045 9.521-5.568 19.842-7.566 30.978-2 11.136-3.332 21.505-3.999 31.121-0.666 9.616-0.998 19.466-0.998 29.554 0 22.836 6.949 40.875 20.842 54.104 13.896 13.224 32.36 19.835 55.39 19.835h249.53c23.028 0 41.49-6.611 55.388-19.835 13.901-13.229 20.845-31.265 20.845-54.104-2e-3 -10.088-0.334-19.938-1.008-29.554z')
            input#name.form-field.reviews-form__field(type='text' name="name" placeholder="Ваше имя" required)

        label.reviews-form__label(for="date")
            .reviews-form__icon-wrap
                svg.reviews-form__icon(enable-background='new 0 0 426.667 426.667', version='1.1', viewbox='0 0 426.667 426.667', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                  path(d='M362.667,42.667h-21.333V0h-42.667v42.667H128V0H85.333v42.667H64c-23.573,0-42.453,19.093-42.453,42.667L21.333,384     c0,23.573,19.093,42.667,42.667,42.667h298.667c23.573,0,42.667-19.093,42.667-42.667V85.333     C405.333,61.76,386.24,42.667,362.667,42.667z M362.667,384H64V149.333h298.667V384z')
                  polygon(points='309.97 214.61 287.36 192 183.25 296.11 138.03 250.88 115.41 273.49 183.25 341.33')

            input#service.form-field.reviews-form__field(type='text' name="service" placeholder="Название услуги" required)

    .reviews-form__col
        label.reviews-form__label(for="location")
            .reviews-form__icon-wrap
                svg.reviews-form__icon(enable-background='new 0 0 512 512', version='1.1', viewbox='0 0 512 512', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                  path(d='m256 0c-102.24 0-185.43 83.182-185.43 185.43 0 126.89 165.94 313.17 173 321.04 6.636 7.391 18.222 7.378 24.846 0 7.065-7.868 173-194.15 173-321.04-2e-3 -102.24-83.183-185.43-185.43-185.43zm0 278.72c-51.442 0-93.292-41.851-93.292-93.293s41.851-93.292 93.292-93.292 93.291 41.851 93.291 93.293-41.85 93.292-93.291 93.292z' required)

            input#location.form-field.reviews-form__field(type='text' name="location" placeholder="Город получения услуги" required)

        label.reviews-form__label(for="phone")
            .reviews-form__icon-wrap
                svg.reviews-form__icon(width='348.08px', height='348.08px', enable-background='new 0 0 348.077 348.077', version='1.1', viewbox='0 0 348.077 348.077', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                    path(d='m340.27 275.08l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518 0.744l-27.082 27.076c-1.711-0.943-3.482-1.928-5.344-2.973-17.102-9.476-40.509-22.464-65.14-47.113-24.704-24.701-37.704-48.144-47.209-65.257-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149 8.936-8.947c11.097-11.1 11.403-28.826 0.721-39.521l-53.755-53.767c-10.682-10.68-28.421-10.356-39.518 0.744l-15.15 15.237 0.414 0.411c-5.08 6.482-9.325 13.958-12.484 22.02-2.912 7.674-4.725 14.997-5.554 22.335-7.098 58.844 19.792 112.62 92.768 185.6 100.88 100.87 182.17 93.248 185.67 92.876 7.638-0.913 14.958-2.738 22.397-5.627 7.992-3.122 15.463-7.361 21.941-12.43l0.331 0.294 15.348-15.029c11.074-11.098 11.393-28.83 0.716-39.542z')
            input#phone.form-field.reviews-form__field(type='tel' placeholder="Номер телефона" required)


    .reviews-form__col.reviews-form__col--textarea
        label.reviews-form__label.reviews-form__label--textarea(for="comment")
            .reviews-form__icon-wrap
                svg.reviews-form__icon(width='511.63px', height='511.63px', enable-background='new 0 0 511.626 511.626', version='1.1', viewbox='0 0 511.626 511.626', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                  path(d='m477.37 127.44c-22.843-28.074-53.871-50.249-93.076-66.523-39.204-16.272-82.035-24.41-128.48-24.41-34.643 0-67.762 4.805-99.357 14.417-31.595 9.611-58.812 22.602-81.653 38.97-22.845 16.37-41.018 35.832-54.534 58.385-13.516 22.554-20.273 46.205-20.273 70.949 0 28.549 8.61 55.3 25.837 80.234 17.227 24.931 40.778 45.871 70.664 62.811-2.096 7.611-4.57 14.846-7.426 21.693-2.855 6.852-5.424 12.474-7.708 16.851-2.286 4.377-5.376 9.233-9.281 14.562-3.899 5.328-6.849 9.089-8.848 11.275-1.997 2.19-5.28 5.812-9.851 10.849-4.565 5.048-7.517 8.329-8.848 9.855-0.193 0.089-0.953 0.952-2.285 2.567-1.331 1.615-1.999 2.423-1.999 2.423l-1.713 2.566c-0.953 1.431-1.381 2.334-1.287 2.707 0.096 0.373-0.094 1.331-0.57 2.851-0.477 1.526-0.428 2.669 0.142 3.433v0.284c0.765 3.429 2.43 6.187 4.998 8.277 2.568 2.092 5.474 2.95 8.708 2.563 12.375-1.522 23.223-3.606 32.548-6.276 49.87-12.758 93.649-35.782 131.33-69.097 14.272 1.522 28.072 2.286 41.396 2.286 46.442 0 89.271-8.138 128.48-24.417 39.208-16.272 70.233-38.448 93.072-66.517 22.843-28.062 34.263-58.663 34.263-91.781 1e-3 -33.119-11.418-63.718-34.254-91.787z')

            textarea#comment.form-field.reviews-form__field(name="comment" placeholder="Ваш отзыв" required)

        button.reviews-form__btn.btn.btn-primary.js-send-review(type='submit') Отправить

//END REVIEWS FORM