@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';

.reviews{
    &__subtitle {
        margin-bottom: 5px;
        padding-bottom: 0;
    }
}

.reviews-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    &__col{
        flex-basis: calc(33.333333% - 10px);

        @include _1170 {
            flex-basis: calc(50% - 20px);
        }

        @include _768 {
            flex-basis: 100%;
        }

        &--textarea {
            @include _1170 {
                flex-basis: 100%;
            }
        }
    }

    &__field {
        width: 100%;
        height: 100%;
    }

    &__label {
        position: relative;
        height: 55px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--textarea {
            height: 125px;
        }
    }

    &__icon-wrap {
        flex-basis: 70px;
        min-width: 70px;
        height: 100%;
        display: inline-block;
        background-color: #eee;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 15px;
        transition: .3s all;
    }

    &__btn{
        width: 100%;
        text-transform: uppercase;
        font-family: $yanone;
        font-weight: 400;

        @include _1170 {
            max-width: 200px;
        }

        @include _480 {
            max-width: 100%;
        }
    }
}