// START TOP-LINE

.top-line.header__top-line
    a(href="/" title="Перейти на главную страницу").top-line__header Premium Relax Club

    address.top-line__contact.contact
        div.contact__item
            a.contact__link(href="tel:88612981222") #[span(class='contact__link-small') 8 (861)] 298-12-22
            span.contact__city Ялта

        div.contact__item
            a.contact__link(href="tel:88612451422") #[span(class='contact__link-small') 8 (861)] 245-14-22
            span.contact__city  Симферополь

// END TOP-LINE