@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';

/*-------------------------*\
         #TOP-LINE
\*-------------------------*/

.top-line {
    font-family: $oranien;

    &__header {
        color: $beige;
        background-color: $dark;
        font: 400 50px/.6 $oranien;
        display: inline-block;
        padding: 20px 10px;
        vertical-align: middle;

        &:after{
            background-color: transparent;
        }


        @include _600 {
            font-size: 40px;
            padding: 15px;
        }

        @include _480 {
            font-size: 30px;
        }

        @include _350 {
            font-size: 22px;
            padding: 22px 12px;
        }


    }

    &__contact {
        margin-left: 20px;
    }
}

.contact {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;


    @include _979 {
        display: block;
        margin: 20px 0 20px;
    }

    &__item{


        @include _979 {
            display: inline-block;
            margin-right: 10px;
        }

        @include _768 {
            display: block;
            margin-right: 0;
        }

        &:first-child .contact__link {
            margin-bottom: 15px;
        }
    }

    &__link{
        font-size: 30px;
        color: $dark;
        text-decoration: none;
        line-height: .9;
        display: inline-block;

        &-small{font-size: 20px;}


        @include _480 {
            font-size: 23px;
        }
    }


    &__city{
        color: $beige;
        padding: 0 2px;
        background-color: $dark;
        font: 400 14px/1.2 $yanone;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        display: inline-block;
        height: 15px;
        margin-left: 13px;
        vertical-align: top;
    }
}