//START FOOTER

footer.footer
    .footer__inner.container
        .footer__present
            a.footer__logo-block.logo-block(href="/")
                img.footer__logo.logo-block__img(src="images/logo.png", alt="Логотип")

        .footer__info
            ul.footer__menu.column-menu
                li.column-menu__item.column-menu__item--title Услуги
                li.column-menu__item
                    a.column-menu__link(href="/services-detail.html") Массаж для двоих
                li.column-menu__item
                    a.column-menu__link(href="/services-detail.html") Классический массаж
                li.column-menu__item
                    a.column-menu__link(href="/services-detail.html") Тайский массаж
                li.column-menu__item
                    a.column-menu__link(href="/services-detail.html") Массаж “Блаженство”


            ul.footer__menu.column-menu
                li.column-menu__item.column-menu__item--title Девушки

                li.column-menu__item
                    a.column-menu__link(href="girls.html") Виктория
                li.column-menu__item
                    a.column-menu__link(href="girls.html") Элизабет
                li.column-menu__item
                    a.column-menu__link(href="girls.html") Марианна
                li.column-menu__item
                    a.column-menu__link(href="girls.html") София
                li.column-menu__item
                    a.column-menu__link(href="girls.html") Анжела
                li.column-menu__item
                    a.column-menu__link(href="girls.html") Камила
                li.column-menu__item
                    a.column-menu__link(href="girls.html") Виолетта
                li.column-menu__item
                    a.column-menu__link(href="girls.html") Альбина


            ul.footer__menu.column-menu
                li.column-menu__item.column-menu__item--title Контакты
                li.column-menu__item.footer-contact
                    span.footer-contact__city Ялта
                    p.footer-contact__descr ул. Восточная 46 | С 16:00 до 05:00
                    a.footer-contact__phone(href="tel:88612451225") 8 (861) 245-12-25

                li.column-menu__item.footer-contact
                    span.footer-contact__city Симферополь
                    p.footer-contact__descr ул. Цветочная 356 | С 16:00 до 05:00
                    a.footer-contact__phone(href="tel:88612451225")  8 (861) 245-12-25



//END FOOTER