@import './../../base/_variables.scss';
@import './../../lib/_media-mixin.scss';

/*-------------------------*\
         #FOOTER
\*-------------------------*/

.footer {
    position: relative;
    padding: 25px 0;
    margin-top: 110px;
    height: 480px;
    background-color: $beige;
    background-image: url('./images/footer-line.png'),
                      url('./images/footer-woman.jpg');
    background-repeat: no-repeat;
    background-size: 35vw 100%,
                     auto 100%;
    background-position: 0 center ,
                         74% center;


    @include _1700 {
        background-size: 30vw 100%, auto 100%;
    }

    @include _1170 {
        background-image: none;
        padding: 0;
    }

    &__inner{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;

        @include _1170 {
            padding: 0;
        }
    }

    &__present{
        flex-basis: 30%;
        height: 100%;

        @include _1170 {
            flex-basis: 100%;
            background-image: url('./images/footer-line.png');
            background-repeat: repeat;
        }
    }

    &__logo-block{
        background-color: $dark;
        width: calc(20% + 10vw);
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: right;

        @include _1170 {
            width: 100%;
            text-align: center;
            box-shadow: 0 5px 10px rgba(28, 31, 36, 0.61);
        }
    }

    &__logo{}

    &__info{
        padding: 0 10px;
        flex-basis: 70%;
        display: flex;
        justify-content: flex-start;
        color: $dark;
        flex-wrap: wrap;

        @include _1170 {
            flex-basis: 100%;
            background-color: $beige;
            background-image: url('./images/footer-woman.jpg');
            background-repeat: no-repeat;
            background-position: 140% 0;
            background-size: 60%;
            padding: 30px;
        }

        @include _979 {
            background-position: 160% top;
        }

        @include _768 {
            background-position: 50% calc(100% + 200px);
            background-size: 80%;
        }

        @include _600 {
            background-position: 230% 100%;
            background-size: 80%;
        }

        @include _480 {
            background-position: 40vw 50%;
            background-size: 700px;
        }


    }

}


.column-menu{
    font: 400 18px/1.6 $yanone;
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-right: 65px;


    @include _768 {
        margin-right: 0;
        flex-basis: 33%;
    }

    @include _600 {
        flex-basis: 50%;
    }

    @include _480 {
        flex-basis: 100%;
        margin-bottom: 50px;
        font-size: 18px;
    }


    &__item{
        line-height: inherit;

        &--title{
            font-size: 20px;
            font-weight: 700;
            line-height: 1.3;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 35px;

            @include _480 {
                font-size: 22px;
            }
        }
    }

    &__link {
        color: inherit;

        &:after{
            background-color: $dark;
        }

    }

}


.footer-contact {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 10px;

    &__city{
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__descr{
        margin: 0;
    }

    &__phone{
        color: $beige;
        font-family: $oranien;
        text-decoration: none;
        display: inline-block;
        background-color: $dark;
        line-height: 1.3;
        padding: 0 3px;
    }
}
/* END FOOTER */