@import './../../base/_variables.scss';
@import './../../lib/_media-mixin.scss';

.video {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $oranien;


    @include _480 {
        display: none;
    }


    &__bg-reffer {
        background-color: $beige;
        color: $dark;
        position: absolute;
        right: calc(50% + 150px);
        bottom: 0;
        width: 800px;
        height: 415px;
        z-index: 0;
        padding: 50px;

        @include _1170 {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
            max-width: 90%;
            margin: 0 auto 100px;
            height: auto;
        }


        @include _350 {
            padding: 20px;
        }


    }

    &__line {
        position: absolute;
        height: 4px;
        width: 278px;
        background-color: $dark;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include _1919 {
            display: none;
        }

        @include _1170 {
            display: block;
        }

        @include _600 {
            display: none;
        }
    }


    &__title{
        position: relative;
        font-size: 200px;
        font-weight: 400;
        line-height: .7;
        letter-spacing: 30px;
        margin: 0;

        @include _1919 {
            display: none;
        }

        @include _1170 {
            display: block;
        }

        @include _600 {
            text-align: center;
            font-size: 170px;
            letter-spacing: 20px;
        }

        @include _480 {
            font-size: 100px;
        }

        @include _350 {
            font-size: 80px;
            line-height: .8;
        }
    }


    &__woman {
        z-index: 1;
        position: relative;

        @include _1170 {
            position: absolute;
            top: -50px;
            right: 10px;
        }

        @include _600 {
            display: none;
        }
    }


    &__video-content {
        width: 980px;
        height: 460px;
        position: relative;
        overflow: hidden;
        background-image: url('./images/video-interier-placeholder.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        cursor: pointer;

        @include _1170 {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        display: none;
    }
}

