//START VIDEO

section.video.container

    .video__bg-reffer
        h2.video__title #[span.video__title-slog Ви] #[br] део
        span.video__line

    img.video__woman.b-lazy(data-src="images/video-woman.png" alt="Обнаженная девушка")

    .video__video-content
        //video, img-placeholder will be background-image on .video__content
        video.video__video(loop muted autoplay)
            source(src="images/0000.mp4" type="video/mp4")
            source(src="images/0000.webm" type="video/webm")
            source(src="images/0000.ogg" type="video/ogg")


//END VIDEO