-
    var arr = [
            'images/girl_1.jpg',
            'images/girl_2.jpg',
            'images/girl_3.jpg',
            'images/girl_4.jpg',
            'images/girl_5.jpg',
            'images/girl_6.jpg',
    ]


// START OUR-GIRLS
section.our-girls
    .our-girls__container.container

        .our-girls__text
            h2.our-girls__title Наши #[br] девушки
            h3.our-girls__subtitle Самые нежные и красивые
            a.our-girls__link(href="/all-girls", title="Переход на страницу 'Все девушки'") Посмотреть всех


        .our-girls__img-content
                .our-girls__row
                    ul.our-girls__list
                        each src in arr
                            li.our-girls__item
                                img.our-girls__img.b-lazy(data-src=src, alt="Виктория")
                                .our-girls__info.girls-info
                                    ul.girls-info__list
                                        li.girls-info__item.girls-info__item--name Виктория
                                        li.girls-info__item Возраст:24
                                        li.girls-info__item Бюст: 2
                                        li.girls-info__item Бедра: 90см
                                        li.girls-info__item Рост: 180 см


//END OUR-GIRLS