@import './../../base/_variables.scss';

.our-girls {
    box-shadow: 0 0 10px rgba(28, 31, 36, 0.51);
    position: relative;
    padding: 30px 0;
    z-index: 10;

    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__text {
        flex-basis: 30%;

        @include _979 {
            flex-basis: 50%;
            margin-bottom: 50px;
        }
    }


    &__title {
        position: relative;
        padding-left: 37px;

        color: #ffffff;
        font: 400 50px/1 $oranien;

        &:before {
            content: '';

            position: absolute;
            top: -30px;
            left: 0;

            display: inline-block;
            vertical-align: top;
            width: 7px;
            height: 150px;

            background-color: $beige;
        }

/*         @include _979 {
            max-width: 500px;
            margin-right: auto;
            margin-left: auto;
        } */
    }

    &__subtitle {
        margin: 0 0 0 60px;

        font: 300 18px/20px $yanone;
        color: $beige;
    }

    &__link {
        transition: .3s all;

        display: inline-block;

        margin-top: 50px;
        padding: 10px 40px;
        border: 1px solid;

        background-color: $beige;

        font: 300 27px/1.1 $yanone;
        color: $dark;
        letter-spacing: 5.4px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;


        &:hover {
            border-color: $beige;
            background-color: $dark;
            color: $beige;
        }

        @include _1170 {
            font-size: 23px;
        }

        @include _979 {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

    }



    &__img-content {
        flex-grow: 1;
        flex-basis: 70%;
    }


    &__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        padding-left: 0;
        margin: 0;

        list-style: none;

        @include _1170 {
            justify-content: flex-start;
        }
    }

    &__item {
        position: relative;
        flex-basis: 20%;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: center;

        @include _1170 {
            flex-basis: calc(33% - 20px);
            margin-left: auto;
            margin-right: auto;
        }

        @include _979 {
            margin-bottom: 20px;
        }

        @include _350 {
            flex-basis: 100%;
        }


        &:nth-child(3) {
            margin-right: calc(20% + 20px);

            @include _1170 {
                margin-right: auto;
            }
        }

        &:hover .our-girls__info {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__img {
        object-fit: cover;
        object-position: top;
        width: 192px;
        height: 192px;
    }


    &__info {
        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
        text-align: left;
        width: 100%;
        max-width: 192px;
        margin-right: auto;
        margin-left: auto;

        position: absolute;
        top: calc(100% + 10px);


        @include _979 {
            visibility: visible;
            opacity: 1;
            position: relative;
            transform: translateY(0);
            top: auto;
            margin-top: 20px;
        }
    }
}



.girls-info {
    transition: .3s all;
    z-index: 5;
    width: 100%;
    padding: 13px;
    background-color: $beige;
    color: $dark;
    list-style: none;
    width: 100%;

    &:before {
        content: '';
        transform: translateX(-50%);

        position: absolute;
        top: -8px;
        left: 50%;

        width: 0;
        height: 0;

        border-color: transparent transparent #eda37c transparent;

        border-style: solid;
        border-width: 0 7.5px 8px 7.5px;
    }

    &__list {
        padding-left: 0;
        color: $dark;
        list-style: none;
    }

    &__item {
        padding-left: 12px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        font: 400 16px/1.25 $yanone;

        &--name {
            margin-bottom: 10px;
            padding-left: 0;
            font: 400 27px/.75 $oranien;
            text-transform: unset;
        }
    }
}