//START BOOKING

.booking.services-detail__booking
    h2.booking__title.title-left-line Форма бронирования услуги
    h4.booking__subtitle Менеджер сразу свяжется с вами

    form.booking__form
        label.booking__label(for="name")
            div.booking__icon-wrap
                svg.booking__icon(width='438.53px', height='438.53px', enable-background='new 0 0 438.529 438.529', version='1.1', viewbox='0 0 438.529 438.529', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                    path(d='m219.26 219.27c30.271 0 56.108-10.71 77.518-32.121 21.412-21.411 32.12-47.248 32.12-77.515 0-30.262-10.708-56.1-32.12-77.516-21.417-21.41-47.255-32.115-77.518-32.115s-56.105 10.705-77.515 32.115c-21.414 21.416-32.121 47.253-32.121 77.516 0 30.267 10.707 56.104 32.121 77.515 21.416 21.411 47.251 32.121 77.515 32.121z')
                    path(d='m419.26 335.04c-0.668-9.609-2.002-19.985-3.997-31.121-1.999-11.136-4.524-21.457-7.57-30.978-3.046-9.514-7.139-18.794-12.278-27.836-5.137-9.041-11.037-16.748-17.703-23.127-6.666-6.377-14.801-11.465-24.406-15.271-9.617-3.805-20.229-5.711-31.84-5.711-1.711 0-5.709 2.046-11.991 6.139-6.276 4.093-13.367 8.662-21.266 13.708-7.898 5.037-18.182 9.609-30.834 13.695-12.658 4.093-25.361 6.14-38.118 6.14-12.752 0-25.456-2.047-38.112-6.14-12.655-4.086-22.936-8.658-30.835-13.695-7.898-5.046-14.987-9.614-21.267-13.708-6.283-4.093-10.278-6.139-11.991-6.139-11.61 0-22.222 1.906-31.833 5.711-9.613 3.806-17.749 8.898-24.412 15.271-6.661 6.379-12.562 14.086-17.699 23.127-5.137 9.042-9.229 18.326-12.275 27.836-3.045 9.521-5.568 19.842-7.566 30.978-2 11.136-3.332 21.505-3.999 31.121-0.666 9.616-0.998 19.466-0.998 29.554 0 22.836 6.949 40.875 20.842 54.104 13.896 13.224 32.36 19.835 55.39 19.835h249.53c23.028 0 41.49-6.611 55.388-19.835 13.901-13.229 20.845-31.265 20.845-54.104-2e-3 -10.088-0.334-19.938-1.008-29.554z')

            input#name.form-field.booking__field(type='text' name='name' placeholder="Ваше имя")

        label.booking__label(for="phone")
            div.booking__icon-wrap
                svg.booking__icon(width='348.08px', height='348.08px', enable-background='new 0 0 348.077 348.077', version='1.1', viewbox='0 0 348.077 348.077', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
                    path(d='m340.27 275.08l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518 0.744l-27.082 27.076c-1.711-0.943-3.482-1.928-5.344-2.973-17.102-9.476-40.509-22.464-65.14-47.113-24.704-24.701-37.704-48.144-47.209-65.257-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149 8.936-8.947c11.097-11.1 11.403-28.826 0.721-39.521l-53.755-53.767c-10.682-10.68-28.421-10.356-39.518 0.744l-15.15 15.237 0.414 0.411c-5.08 6.482-9.325 13.958-12.484 22.02-2.912 7.674-4.725 14.997-5.554 22.335-7.098 58.844 19.792 112.62 92.768 185.6 100.88 100.87 182.17 93.248 185.67 92.876 7.638-0.913 14.958-2.738 22.397-5.627 7.992-3.122 15.463-7.361 21.941-12.43l0.331 0.294 15.348-15.029c11.074-11.098 11.393-28.83 0.716-39.542z')

            input#phone.form-field.booking__field(type='tel' name='phone' placeholder="Номер телефона")

        label.booking__label(for="date")
            div.booking__icon-wrap
                svg.booking__icon(enable-background="new 0 0 511.634 511.634" version="1.1" viewBox="0 0 511.634 511.634" xml:space="preserve" xmlns="http://www.w3.org/2000/svg")
                    path(d="m482.51 83.942c-7.225-7.233-15.797-10.85-25.694-10.85h-36.541v-27.41c0-12.56-4.477-23.315-13.422-32.261-8.95-8.946-19.699-13.421-32.265-13.421h-18.268c-12.565 0-23.318 4.475-32.264 13.422-8.949 8.945-13.422 19.701-13.422 32.261v27.41h-109.63v-27.41c0-12.56-4.475-23.315-13.422-32.261-8.945-8.947-19.699-13.422-32.264-13.422h-18.271c-12.562 0-23.317 4.475-32.264 13.422-8.945 8.945-13.421 19.701-13.421 32.261v27.41h-36.542c-9.9 0-18.464 3.617-25.697 10.85-7.233 7.232-10.85 15.8-10.85 25.697v365.45c0 9.89 3.617 18.456 10.85 25.693 7.232 7.231 15.796 10.849 25.697 10.849h401.99c9.897 0 18.47-3.617 25.694-10.849 7.234-7.234 10.852-15.804 10.852-25.693v-365.45c-1e-3 -9.9-3.615-18.464-10.845-25.697zm-345.47 391.15h-82.224v-82.23h82.224v82.23zm0-100.5h-82.224v-91.358h82.224v91.358zm0-109.64h-82.224v-82.223h82.224v82.223zm-6.42-130.62c-1.809-1.809-2.712-3.946-2.712-6.423v-82.224c0-2.474 0.903-4.617 2.712-6.423 1.809-1.809 3.946-2.712 6.423-2.712h18.271c2.474 0 4.617 0.903 6.423 2.712 1.809 1.807 2.714 3.949 2.714 6.423v82.224c0 2.478-0.909 4.615-2.714 6.423-1.807 1.809-3.946 2.712-6.423 2.712h-18.271c-2.474 1e-3 -4.614-0.903-6.423-2.712zm116.06 340.76h-91.365v-82.23h91.365v82.23zm0-100.5h-91.365v-91.358h91.365v91.358zm0-109.64h-91.365v-82.223h91.365v82.223zm109.64 210.14h-91.364v-82.23h91.364v82.23zm0-100.5h-91.364v-91.358h91.364v91.358zm0-109.64h-91.364v-82.223h91.364v82.223zm-6.427-130.62c-1.807-1.809-2.707-3.946-2.707-6.423v-82.224c0-2.474 0.9-4.617 2.707-6.423 1.808-1.809 3.949-2.712 6.427-2.712h18.268c2.478 0 4.617 0.903 6.427 2.712 1.808 1.807 2.707 3.949 2.707 6.423v82.224c0 2.478-0.903 4.615-2.707 6.423-1.807 1.809-3.949 2.712-6.427 2.712h-18.268c-2.477 1e-3 -4.626-0.903-6.427-2.712zm106.92 340.76h-82.228v-82.23h82.228v82.23zm0-100.5h-82.228v-91.358h82.228v91.358zm0-109.64h-82.228v-82.223h82.228v82.223z")

            input#date.form-field.booking__field.booking__field--date.placeholder(type='date' name="date" placeholder="Введите дату")

        button.booking__btn.btn.btn-primary(type='submit') Забронировать


//END BOOKING