@import './../../base/_variables.scss';
@import './../../lib/_media-mixin.scss';

.booking {
    width: 400px;
    margin-right: auto;
    margin-left: auto;

    &__title{
        font-family: $oranien;
        font-weight: 400;
        color: $beige;
        margin-bottom: 5px;
    }
    &__subtitle{
        font-family: $yanone;
        font-weight: 200;
        font-size: 20px;
        margin-left: 45px;
        margin-top: 0;
        color: #999;
    }

    &__form{

    }


    &__label {
        position: relative;
        height: 55px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon-wrap {
        flex-basis: 70px;
        min-width: 70px;
        height: 100%;
        display: inline-block;
        background-color: #eee;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 15px;
        transition: .3s all;
    }

    &__field{
        display: block;
        flex-grow: 1;
        height: 100%;
        width: auto;
        padding-left: 20px;
        max-width: 330px;



        &--date {

            &:before {
                content: 'Выберите дату';
                width: 100%;
                color: #999;
                font-family: $yanone;
                font-size: 30px;
                font-weight: 300;
            }
        }
    }


    &__btn{
        display: block;
        width: 100%;
        flex-grow: 2;
    }
}