@import './../../../base/_variables.scss';
@import './../../../lib/_media-mixin.scss';

.girls {
    &__list {
        padding-left: 0;
        margin: 0;
        display: flex;
        list-style: none;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item{
        position: relative;
        margin-bottom: 10px;
        text-align: center;

        width: 16.6666%;

        @include _1366 {width: 20%;}
        @include _1170 {width: 25%;}
        @include _768  {width: 33.33333%;}
        @include _600  {width: 50%;}
        @include _480  {width: 100%;}

        &:hover .girls__info {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__img{
        box-shadow: 2px 3px 5px rgba(28, 31, 36, 0.51);
    }

    &__info{
        text-align: left;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: calc(100% + 8px);
        transform: translateY(20px);
        width: 100%;
        max-width: 200px;

        @include _600 {
            position: relative;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            margin: 0 auto;

        }
    }
}