doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug

        //START PAGE
        .page.p-contact.container
            header.page__headline
                h1.page__title Наши контакты
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/contact.html") Наши контакты

            include blocks/contact-block/contact-block.pug
        //END PAGE




        include blocks/footer/footer.pug


        include base/_scripts.pug