doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug

        //START PAGE
        .page.container
            header.page__headline
                h1.page__title Наши девушки
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/girls.html") Наши девушки


            include ./blocks/girl/list/girl-list.pug

        //END PAGE


        include blocks/footer/footer.pug

        include base/_scripts.pug