doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug

        include blocks/about/about.pug

        include blocks/parallax/parallax.pug

        include blocks/our-girls/our-girls.pug

        include blocks/parallax/parallax.pug

        include blocks/services/list/services-list.pug

        include blocks/video/video.pug

        include blocks/footer/footer.pug

        include base/_scripts.pug