doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug

        //START PAGE
        .page.p-jobs.container
            header.page__headline
                h1.page__title Наши вакансии
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/jobs.html") Наши вакансии

            h2.page__subtitle.title-left-line Высокооплачиваемая и интересная работа
            p.
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.

            a(href="#") Ссылка

            h2.page__subtitle.title-left-line.
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке форм развития.

            ul
                li  С другой стороны постоянное информационно-пропагандистское обеспечение нашей
                li  задания по разработке форм развития. Повс
                li  овседневная практика показывает, что н
                li  степени обуславливает создание позиций, занимаемых участни

            p.
                С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять.


        //END PAGE



        include blocks/footer/footer.pug


        include base/_scripts.pug