doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug

        //START PAGE
        .page.reviews.container
            .page__headline
                h1.page__title Отзывы наших клиентов
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/reviews.html") Отзывы наших клиентов


            include ./blocks/reviews/list/reviews-list.pug
            include ./blocks/reviews/form/reviews-form.pug


        //END PAGE




        include blocks/footer/footer.pug

        include base/_scripts.pug