doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug


        //START PAGE
        .page.p-services.container
            header.page__headline
                h1.page__title Полный список услуг
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/services.html") Услуги

            include blocks/services/list/services-list.pug
        //END PAGE


        include blocks/footer/footer.pug

        include base/_scripts.pug