doctype html
html(lang="ru")
    include base/_head.pug
    body


        include blocks/header/header.pug


        //START PAGE
        .page.p-services-detail.container
            .page__headline
                h1.page__title Классический массаж
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/services.html") Услуги
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="/services-detail.html") Классический массаж


            include blocks/services/detail/services-detail.pug
            include ./blocks/booking/booking.pug

        //END PAGE


        include blocks/footer/footer.pug

        include base/_scripts.pug