@import './../../base/_variables.scss';
@import './../../lib/_media-mixin.scss';

.contact-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
    overflow: hidden;
    flex-wrap: wrap;

    &__map{
        height: 500px;


        @include _480 {
            height: 300px;
        }
    }

    &__item{
        flex-basis: calc(50% - 15px);

        @include _979 {
            margin-top: 30px;
            flex-basis: 100%;
        }
    }
}

.contact-info {
    border-top: 5px solid $beige;
    padding: 0 5px;

    &__title{
        font-size: 40px;
        font-family: $oranien;
        color: $beige;
        font-weight: 400;
        margin: 40px 0 0;
    }

    &__tip{
        padding-left: 30px;
        font-size: 20px;
        font-weight: 400;

        @include _480 {
            padding-left: 0;
        }
    }

    &__subtitle{
        color: $beige;
        font: 300 20px/1.3 $yanone;
        padding-left: 35px;
    }

    &__text{
        font: 400 26px/1.2 $oranien;

        @include _480 {
            font-size: 20px;
        }
    }

    &__link{
        color: #fff;

        &:after{
            background-color: #fff;
        }

        @include _480 {
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
        }
    }


    .separator-line {
        @include _480 {
            display: none;
        }
    }
}