//START CONTACT-BLOCK

.contact-block
    .contact-block__map.contact-block__item.contact-map#contact-map-1
    .contact-block__info.contact-block__item.contact-info
        h2.contact-info__title Мы всегда на связи
        p.contact-info__tip Используйте удобный для вас способ общения

        h3.contact-info__subtitle.title-left-line Адрес в Ялте
        div.contact-info__text.
            Красная, 176 лит. 5/4 студия № 3.048 ЖК "Большой". Вход с улицы Коммунаров

        h3.contact-info__subtitle.title-left-line Позвоните нам
        div.contact-info__text
            a.contact-info__link(href="tel:89181147106") +7 (918) 114-71-06
            span.separator-line |
            a.contact-info__link(href="tel:89181147106 ") +7 (918) 114-71-06


        h3.contact-info__subtitle.title-left-line Пишите нам письма
        div.contact-info__text
            a.contact-info__link(href="mailto:info@mydomain.ru") info@mydomain.ru


//END CONTACT-BLOCK


//START CONTACT-BLOCK

.contact-block
    .contact-block__map.contact-block__item.contact-map#contact-map-2
    .contact-block__info.contact-block__item.contact-info
        h2.contact-info__title Мы всегда на связи
        p.contact-info__tip Используйте удобный для вас способ общения

        h3.contact-info__subtitle.title-left-line Адрес в Ялте
        div.contact-info__text.
            Красная, 176 лит. 5/4 студия № 3.048 ЖК "Большой". Вход с улицы Коммунаров

        h3.contact-info__subtitle.title-left-line Позвоните нам
        div.contact-info__text
            a.contact-info__link(href="tel:89181147106") +7 (918) 114-71-06
            span.separator-line |
            a.contact-info__link(href="tel:89181147106 ") +7 (918) 114-71-06


        h3.contact-info__subtitle.title-left-line Пишите нам письма
        div.contact-info__text
            a.contact-info__link(href="mailto:info@mydomain.ru") info@mydomain.ru


//END CONTACT-BLOCK
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwM9-Dqe1GuytnKfVF2kudeXM1Pgr8Jr0&callback=initMap" async)