@import './../../base/_variables.scss';
@import './../../lib/_media-mixin.scss';

/*-------------------------*\
         #HEADER
\*-------------------------*/


.header {
    margin-bottom: 65px;

    &__top-line{
        margin-top: 20px;
        margin-left: 10vw;

        @include _979 {
            margin-left: 1vw;
        }
    }

    &__content{
        position: relative;


        padding: 30px 50px;
        border-radius: 3px;
        background-image: url('./images/header__img-placeholder.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #222;

        box-shadow: 2px 3px 5px rgba(28, 31, 36, 0.51);

        overflow: hidden;

        @include _480 {
            padding: 30px;
        }
    }

    &__text{
        position: relative;
        z-index: 30;
    }

    &__logo{
        margin-bottom: 55px;
    }

    &__title{
        color: #fff;
        font: 400 70px/1.15 $oranien;
        padding-left: 20px;
        position: relative;

        &:before{
            width: 7px;
        }


        @include _600 {
            font-size: 50px;
        }

        @include _350 {
            font-size: 35px;
        }
    }

    &__subtitle{
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: .75px;
        margin: 30px 0 0;
    }

    &__link {
        margin-top: 110px;
        padding: 15px 40px;
        color: $beige;
        text-transform: uppercase;
        border: 1px solid $beige;
        display: inline-block;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        position: relative;
        z-index: 2;
        transition: 0.3s all;

        &:hover{
            background-color: $beige;
            color: $dark;
        }

        @include _350 {
            margin-top: 40px;
        }
    }


    &__video{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 10;

        @include _480 {
            display: none;
        }
    }
}


.logo {
    display: block;
    width: 220px;
    height: 90px;

    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}


/* END HEADER */