// START HEADER

header.header.container
    include top-line/top-line.pug

    include nav/nav.pug

    .header__content

        .header__text
            a.header__logo.logo(href="/" title="Перейти на главную страницу")
            h1.header__title.title-left-line Эротический #[br] массаж
            h2.header__subtitle В Ялте и Севастополе
            a.header__link(href="/booking") Забронировать

        // START HEADER-VIDEO
        .header__video.header-video
            video(loop muted autoplay)
                source(src="images/0000.mp4" type="video/mp4")
                source(src="images/0000.webm" type="video/webm")
                source(src="images/0000.ogg" type="video/ogg")
        // END HEADER-VIDEO



// END HEADER