@import '../lib/_media-mixin.scss';
@import '../lib/_normalize.scss';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Oranienbaum|Yanone+Kaffeesatz:200,300,400,700&subset=cyrillic');


@import '_variables.scss';



body {
    color: #fff;
    font-size: 18px;
    font-family: $yanone;
    background-image: url('./images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;

    background-color: $dark;
    box-sizing: border-box;


    @include _1024{
        background-size: auto 300px;
        background-position: center 0;
    }
}

body * {
    box-sizing: inherit;
}


p {
    line-height: 1.5;
    padding: 15px 0;
    margin: 0;
}

li {
    line-height: 1.4;
}

a {
    color: $beige;
    text-decoration: none;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        transition: .5s all;
        background-color: $beige;
    }

    &:hover:after{
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6,
p, .like-p,
span, {
    white-space: normal;
    word-break: break-word;
}

h1, .like-h1{
    font-size: 40px;
}
h2, .like-h2{
    font-size: 30px;
}
h3, .like-h3{
    font-size: 27px;
}
h4, .like-h4{
    font-size: 24px;
}
h5, .like-h5{
    font-size: 21px;
}
h6, .like-h6{
    font-size: 18px;
}

img {
    max-width: 100%;
}

.form-field {
    display: block;
    font-size: 30px;
    font-weight: 300;
    outline: none;
    border: none;
    padding: 10px;
    resize: vertical;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #999999;
        font-family: $yanone;
        font-size: 30px;
        font-weight: 300;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: #999999;
        font-family: $yanone;
        font-size: 30px;
        font-weight: 300;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: #999999;
        font-family: $yanone;
        font-size: 30px;
        font-weight: 300;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: #999999;
        font-family: $yanone;
        font-size: 30px;
        font-weight: 300;
    }

    &.non-empty:before {
        content: none;
    }
}


.btn {
    border: none;
    transition: .3s all;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.btn-primary {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: $dark;
    text-decoration: none;
    border-bottom: 3px solid $beige;
    padding: 15px 30px;
    background-color: #fff;

    &:hover{
        background-color: $beige;
        color: #fff;
    }

    &:after {
        background-color: #fff;
    }
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;


    @include _1170 {
        padding-right: 25px;
        padding-left: 25px;
    }
}

.separator-line{
    margin: 0 3px;
}

.title-left-line {
    position: relative;
    padding-left: 25px;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        height: 100%;
        width: 4px;
        background-color: $beige;
    }

}

.page{
    &__headline{
        padding-left: 150px;
        margin-bottom: 60px;

        @include _768 {
            padding-left: 0;
        }

    }

    &__title{
        color: $beige;
        font: 400 40px/.85 $oranien;
        vertical-align: middle;
        display: inline-block;
        margin: 0;

        &:before{
            content: '-';
            margin-right: 10px;
        }

        @include _480 {
            font-size: 30px;
        }
    }

    &__subtitle{
        font-family: $oranien;
        font-size: 30px;
        font-weight: 400;
        color: $beige;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 15px 0;

        @include _480 {
            font-size: 25px;
        }
    }

    &__title-tip {
        margin-left: 45px;
        font-size: 20px;
        font-weight: 200;
        color: #999;
    }
}

.breadcrumbs{
    padding-left: 35px;

    &__list{
        padding-left: 0;
        font: 400 16px/1.625 $yanone;
        color: $beige;
    }

    &__item{
        display: inline-block;
        color: #fff;
        vertical-align: middle;

        &:first-child {
            color: $beige;

            .breadcrumbs__link:after{
                background-color: $beige;
            }
        }

        &:not(:first-child) {
            margin-left: 5px;

            .breadcrumbs__link:after{
                background-color: #fff;
            }

            &:before {
               content: '';
               display: inline-block;
               vertical-align: middle;
               width: 5px;
               height: 5px;
               border-radius: 50%;
               background-color: $beige;
               margin-right: 5px;
            }
        }
    }
    &__link{
        color: inherit;
        text-decoration: none;
        transition: .3s all;
    }
}

