head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Premium Relax
    style.
        html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}a{background-color:transparent}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}body{color:#fff;font-size:18px;font-family:"Yanone Kaffeesatz",sans-serif;background-image:url("./images/header-bg.jpg");background-repeat:no-repeat;-webkit-background-size:100% auto;background-size:100% auto;background-position:0 0;background-color:#2f3135;-webkit-box-sizing:border-box;box-sizing:border-box}body *{-webkit-box-sizing:inherit;box-sizing:inherit}li{line-height:1.4}a{color:#eda47c;text-decoration:none;position:relative}a:after{content:'';position:absolute;bottom:-2px;left:0;width:0;height:1px;background-color:#eda47c}h1,h2,span{white-space:normal;word-break:break-word}h1{font-size:40px}h2{font-size:30px}.container{width:100%;max-width:1280px;margin:0 auto}.title-left-line{position:relative;padding-left:25px}.title-left-line:before{content:'';position:absolute;left:0;top:0;display:inline-block;height:100%;width:4px;background-color:#eda47c}.header{margin-bottom:65px}.header__top-line{margin-top:20px;margin-left:10vw}.header__content{position:relative;padding:30px 50px;-webkit-border-radius:3px;border-radius:3px;background-image:url("./images/header__img-placeholder.jpg");background-repeat:no-repeat;background-position:center center;-webkit-background-size:cover;background-size:cover;background-color:#222;-webkit-box-shadow:2px 3px 5px rgba(28,31,36,.51);box-shadow:2px 3px 5px rgba(28,31,36,.51);overflow:hidden}.header__text{position:relative;z-index:30}.header__logo{margin-bottom:55px}.header__title{color:#fff;font:400 70px/1.15 "Oranienbaum",serif;padding-left:20px;position:relative}.header__title:before{width:7px}.header__subtitle{color:#fff;font-size:30px;font-weight:300;letter-spacing:.75px;margin:30px 0 0}.header__link{margin-top:110px;padding:15px 40px;color:#eda47c;text-transform:uppercase;border:1px solid #eda47c;display:inline-block;font-size:20px;font-weight:300;text-decoration:none;position:relative;z-index:2}.header__video{position:absolute;top:0;left:0;min-width:100%;min-height:100%;z-index:10}.logo{display:block;width:220px;height:90px;background-image:url("./images/logo.png");background-repeat:no-repeat;-webkit-background-size:contain;background-size:contain}.top-line{font-family:"Oranienbaum",serif}.top-line__header{color:#eda47c;background-color:#2f3135;font:400 50px/.6 "Oranienbaum",serif;display:inline-block;padding:20px 10px;vertical-align:middle}.top-line__header:after{background-color:transparent}.top-line__contact{margin-left:20px}.contact{display:inline-block;vertical-align:middle;font-style:normal}.contact__item:first-child .contact__link{margin-bottom:15px}.contact__link{font-size:30px;color:#2f3135;text-decoration:none;line-height:.9;display:inline-block}.contact__link-small{font-size:20px}.contact__city{color:#eda47c;padding:0 2px;background-color:#2f3135;font:400 14px/1.2 "Yanone Kaffeesatz",sans-serif;text-align:center;text-transform:uppercase;letter-spacing:2.8px;display:inline-block;height:15px;margin-left:13px;vertical-align:top}.nav-row{text-align:right}.nav{position:relative;position:relative;z-index:50;display:inline-block;max-width:200px;width:100%;padding:11px 5px;color:#2f3135;text-align:right;font-family:"Oranienbaum",serif}.nav__toggle{display:inline-block;width:50px}.nav__icon{width:50px;font-size:13px}.nav__line{display:inline-block;width:100%;height:5px;background-color:#2f3135}.nav__title{display:block;text-align:center;font-size:18px;text-transform:uppercase}.nav__list{visibility:hidden;opacity:0;position:absolute;top:100%;right:0;width:100%;margin:0;padding:0 15px 11px;padding-left:0;background-color:#2f3135;text-align:right;font-size:22px;font-weight:400;line-height:1.36;list-style:none}.nav__item{visibility:hidden;opacity:0;-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}.nav__link{color:inherit}.nav__link:after{background-color:#eda47c}@media (max-width:1170px){.container{padding-right:25px;padding-left:25px}.nav-row{padding-right:15px}}@media (max-width:1024px){body{-webkit-background-size:auto 300px;background-size:auto 300px;background-position:center 0}}@media (max-width:979px){.header__top-line{margin-left:1vw}.contact{display:block;margin:20px 0 20px}.contact__item{display:inline-block;margin-right:10px}.nav{position:absolute;top:5px;right:25px;max-width:250px}.nav__link{line-height:1.7}}@media (max-width:768px){.contact__item{display:block;margin-right:0}}@media (max-width:600px){.header__title{font-size:50px}.top-line__header{font-size:40px;padding:15px}}@media (max-width:480px){.header__content{padding:30px}.header__video{display:none}.top-line__header{font-size:30px}.contact__link{font-size:23px}.nav__title{font-size:16px}}@media (max-width:350px){.header__title{font-size:35px}.header__link{margin-top:40px}.top-line__header{font-size:22px;padding:22px 12px}}


