//Media Queries

$_1919: 1919px;
$_1700: 1700px;
$_1366: 1366px;
$_1170: 1170px;
$_1024: 1024px;
$_979:  979px;
$_768:  768px;
$_600:  600px;
$_480:  480px;
$_350:  350px;


//Colors

$beige: #eda47c;
$dark:  #2f3135;


//Fonts

$oranien: 'Oranienbaum', serif;
$yanone: 'Yanone Kaffeesatz', sans-serif;


